.btn{
    font-size: 1.6rem;
    border-radius: 0.8rem;
    border: 2px solid $primary-01;
    outline: none;
    cursor: pointer;
}

.btn-primary{
    background-color: $primary-01;
    color: $white;
}

.btn-secondary{
    border: 2px solid $primary-01;
    color: $primary-0;
    box-sizing: border-box;
}

.btn-full{
    width: 100%;
}

.btn-small{
    font-size: 1.2rem;
}

