/* Paddings */
.px-2{
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}
.px-4{
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}
.px-8{
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}
.px-16{
    padding-right: 1.6rem;
    padding-left: 1.6rem;
}
.px-24{
    padding-right: 3.4rem;
    padding-left: 3.4rem;
}
.px-32{
    padding-right: 3.2rem;
    padding-left: 3.2rem;
}


.py-2{
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}
.py-4{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
.py-8{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.py-16{
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}
.py-24{
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}
.py-32{
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}

.p-2{
    padding: 0.2rem;
}
.p-4{
    padding: 0.4rem;
}

.p-8{
    padding: 0.8rem;
}

.p-16{
    padding: 1.6rem;
}

.p-24{
    padding: 2.4rem;
}

.p-32{
    padding: 3.2rem;
}

/* Display */
.d-none{
    display: none !important;
}
.d-flex{
    display: flex !important;
}

/* Texto */
.h1{
    font-size: 5.6rem;//32px
}
.h2{
    font-size: 2.4rem;//24px
}
.h3{
    font-size: 2rem;//20px
}
.h4{
    font-size: 1.6rem;//16px
}
.h5{
    font-size: 1.2rem;//12px
}
.h6{
    font-size: 1rem;//10px
}
.text{
    @include text(1.6rem, 400, $black-0 )
}

.text-center{
    text-align: center;
}
/* box shadow */
.box-shadow{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Container */

.container{
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}
.container-full{
    max-width: $max-width-full;
    margin-left: auto;
    margin-right: auto;
}
.container-small{
    max-width: $max-width-small;
    margin-left: auto;
    margin-right: auto;
}

/* img */
img{
    max-width: 100%;
    height: auto;
}

/* background mobile */
.background-img{
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.back_footer_mobile{
    background-image: url('../../img/footer/foot_back_mobile.svg');
    @extend .background-img;
}

/* Background desktop */
.back_footer_desktop{
    background-image: url('../../img/footer/foot_back_desktop.svg');
    @extend .background-img;
}


/* Border radius */
.border-radius-0{
    border-radius: 0;
}

.border-radius-4{
    border-radius: 0.4rem;
}
.border-radius-8{
    border-radius: 0.8rem;
}
.border-radius-16{
    border-radius: 1.6rem;
}
.border-radius-24{
    border-radius: 2.4rem;
}
.border-radius-32{
    border-radius: 3.2rem;
}

/* Text type */
.text-bold{
    font-weight: 700;
}
.text-regular{
    font-weight: 400;
}
.text-light{
    font-weight: 300;
}