.color-white{
    color: $white;
}

/* Color primary */
.color-primary-4{
    color: $primary-4;
}
.color-primary-3{
    color: $primary-3;
}
.color-primary-2{
    color: $primary-2;
}
.color-primary-1{
    color: $primary-1;
}
.color-primary-0{
    color: $primary-0;
}
.color-primary-01{
    color: $primary-01;
}
.color-primary-02{
    color: $primary-02;
}
.color-primary-03{
    color: $primary-03;
}

.color-primary-04{
    color: $primary-04;
}
.color-primary-05{
    color: $primary-05;
}

.color-main{
    color: $main !important;
}
.color-main-light4{
    color: $main-light1;
}
.color-main-light3{
    color: $main-light2;
}
.color-main-light2{
    color: $main-light3;
}
.color-main-light1{
    color: $main-light4;
}
.color-main-dark1{
    color: $main-dark1;
}
.color-main-dark2{
    color: $main-dark2;
}
.color-main-dark3{
    color: $main-dark3;
}
.color-main-dark4{
    color: $main-dark4;
}

/* Color black */
.color-black-4{
    color: $black-4;
}
.color-black-3{
    color: $black-3;
}
.color-black-2{
    color: $black-2;
}
.color-black-1{
    color: $black-1;
}
.color-black-0{
    color: $black-0;
}
.color-black-01{
    color: $black-01;
}
.color-black-02{
    color: $black-02;
}
.color-black-03{
    color: $black-03;
}
.color-black-04{
    color: $black-04;
}

/* Background */
.bg-primary-05{
    background-color: $primary-05;
}

.bg-main-light1{
    background-color: $main-light1;
}

.bg-main-light2{
    background-color: $main-light2;
}

.bg-main-light3{
    background-color: $main-light3;
}

.bg-main-light4{
    background-color: $main-light4;
}


/* Colores para ropas */

.bg-green{
    background-color: green;
}

.bg-yellow{
    background-color: yellow;
}

.bg-violet{
    background-color: violet;
}