/* Texto */
@mixin text($font-size,$font-weith,$color) {
    font-size: $font-size;
    font-weight: $font-weith;
    color: $color;
}

/* Boton */
@mixin btn-hover-primary {
    background-color: $primary-4;
    border-color:$primary-4;
}
@mixin btn-hover-secondary {
    border-color:$primary-4;
}

/* Display responsivo */
@mixin grid-auto($minimo,$maximo,$vertical,$horizontal){
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax($minimo,$maximo));
    gap: $vertical $horizontal;
}
