*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    border: none;
}
ul,
ol{
    list-style: none;
}
body{
    overflow-x: hidden;
}
