/* Colore white*/
$white: #FFF;

/* Color primary */
$primary-4:#73001D;
$primary-3:#8F0024;
$primary-2:#AC002B;
$primary-1:#C80032;
$primary-0:#E50039;
$primary-01:#FF0946;
$primary-02:#FF2C61;
$primary-03:#FF4F7B;
$primary-04:#FF7395;
$primary-05:#F4CFD7;
$primary-06:#FCE5EB;

/* Color Error */
$error-4:#771010;
$error-3:#951414;
$error-2:#B31818;
$error-1:#D11D1C;
$error-0:#E32C2B;
$error-01:#E64646;
$error-02:#EA6160;
$error-03:#ED7B7A;
$error-04:#F19595;

/* Color success */
$success-4:#3E6C10;
$success-3:#4E8714;
$success-2:#5DA218;
$success-1:#6DBD1C;
$success-0:#7CD820;
$success-01:#8CE137;
$success-02:#9DE654;
$success-03:#ADEA70;
$success-04:#BEEE8D;

/* Color black */
$black:#000;
$black-5:#0F1112;
$black-4:#141618;
$black-3:#191C1F;
$black-2:#1E2225;
$black-1:#23272B;
$black-0:#282D31;
$black-01:#40484E;
$black-02:#57626B;
$black-03:#6F7D88;
$black-04:#8B97A0;
$black-05:#A8B1B8;

$main:#E50039;
$main-light4:#FF1E56;
$main-light3:#FF5680;
$main-light2:#FF8FAB;
$main-light1:#FFC7D5;
$main-dark1:#B7002E;
$main-dark2:#890022;
$main-dark3:#5C0017;
$main-dark4:#2E000B;

$error:#E32C2B;
$error-light4:#E64646;
$error-light3:#EA6160;
$error-light2:#ED7B7A;
$error-light1:#F19595;
$error-dark1:#D11D1C;
$error-dark2:#B31818;
$error-dark3:#951414;
$error-dark4:#771010;

$gray:#181818;
$gray-light4:#464646;
$gray-light3:#747474;
$gray-light2:#A3A3A3;
$gray-light1:#D1D1D1;
$gray-dark1:#131313;
$gray-dark2:#0E0E0E;
$gray-dark3:#0A0A0A;
$gray-dark4:#050505;

/* Constantes */
$max-width:1440px;

$max-width-full:1920px;

$max-width-small:1366px;