@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Variables */
/* Colore white*/
/* Color primary */
/* Color Error */
/* Color success */
/* Color black */
/* Constantes */
/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  border: none; }

ul,
ol {
  list-style: none; }

body {
  overflow-x: hidden; }

/* utilidades */
.color-white {
  color: #FFF; }

/* Color primary */
.color-primary-4 {
  color: #73001D; }

.color-primary-3 {
  color: #8F0024; }

.color-primary-2 {
  color: #AC002B; }

.color-primary-1 {
  color: #C80032; }

.color-primary-0 {
  color: #E50039; }

.color-primary-01 {
  color: #FF0946; }

.color-primary-02 {
  color: #FF2C61; }

.color-primary-03 {
  color: #FF4F7B; }

.color-primary-04 {
  color: #FF7395; }

.color-primary-05 {
  color: #F4CFD7; }

.color-main {
  color: #E50039 !important; }

.color-main-light4 {
  color: #FFC7D5; }

.color-main-light3 {
  color: #FF8FAB; }

.color-main-light2 {
  color: #FF5680; }

.color-main-light1 {
  color: #FF1E56; }

.color-main-dark1 {
  color: #B7002E; }

.color-main-dark2 {
  color: #890022; }

.color-main-dark3 {
  color: #5C0017; }

.color-main-dark4 {
  color: #2E000B; }

/* Color black */
.color-black-4 {
  color: #141618; }

.color-black-3 {
  color: #191C1F; }

.color-black-2 {
  color: #1E2225; }

.color-black-1 {
  color: #23272B; }

.color-black-0 {
  color: #282D31; }

.color-black-01 {
  color: #40484E; }

.color-black-02 {
  color: #57626B; }

.color-black-03 {
  color: #6F7D88; }

.color-black-04 {
  color: #8B97A0; }

/* Background */
.bg-primary-05 {
  background-color: #F4CFD7; }

.bg-main-light1 {
  background-color: #FFC7D5; }

.bg-main-light2 {
  background-color: #FF8FAB; }

.bg-main-light3 {
  background-color: #FF5680; }

.bg-main-light4 {
  background-color: #FF1E56; }

/* Colores para ropas */
.bg-green {
  background-color: green; }

.bg-yellow {
  background-color: yellow; }

.bg-violet {
  background-color: violet; }

/* Texto */
/* Boton */
/* Display responsivo */
/* Componentes */
.btn {
  font-size: 1.6rem;
  border-radius: 0.8rem;
  border: 2px solid #FF0946;
  outline: none;
  cursor: pointer; }

.btn-primary {
  background-color: #FF0946;
  color: #FFF; }

.btn-secondary {
  border: 2px solid #FF0946;
  color: #E50039;
  box-sizing: border-box; }

.btn-full {
  width: 100%; }

.btn-small {
  font-size: 1.2rem; }

/* Paddings */
.px-2 {
  padding-right: 0.2rem;
  padding-left: 0.2rem; }

.px-4 {
  padding-right: 0.4rem;
  padding-left: 0.4rem; }

.px-8 {
  padding-right: 0.8rem;
  padding-left: 0.8rem; }

.px-16 {
  padding-right: 1.6rem;
  padding-left: 1.6rem; }

.px-24 {
  padding-right: 3.4rem;
  padding-left: 3.4rem; }

.px-32 {
  padding-right: 3.2rem;
  padding-left: 3.2rem; }

.py-2 {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem; }

.py-4 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem; }

.py-8 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }

.py-16 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem; }

.py-24 {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem; }

.py-32 {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem; }

.p-2 {
  padding: 0.2rem; }

.p-4 {
  padding: 0.4rem; }

.p-8 {
  padding: 0.8rem; }

.p-16 {
  padding: 1.6rem; }

.p-24 {
  padding: 2.4rem; }

.p-32 {
  padding: 3.2rem; }

/* Display */
.d-none {
  display: none !important; }

.d-flex {
  display: flex !important; }

/* Texto */
.h1 {
  font-size: 5.6rem; }

.h2 {
  font-size: 2.4rem; }

.h3 {
  font-size: 2rem; }

.h4 {
  font-size: 1.6rem; }

.h5 {
  font-size: 1.2rem; }

.h6 {
  font-size: 1rem; }

.text {
  font-size: 1.6rem;
  font-weight: 400;
  color: #282D31; }

.text-center {
  text-align: center; }

/* box shadow */
.box-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }

/* Container */
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }

.container-full {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto; }

.container-small {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto; }

/* img */
img {
  max-width: 100%;
  height: auto; }

/* background mobile */
.background-img, .back_footer_mobile, .back_footer_desktop {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

.back_footer_mobile {
  background-image: url("../../img/footer/foot_back_mobile.svg"); }

/* Background desktop */
.back_footer_desktop {
  background-image: url("../../img/footer/foot_back_desktop.svg"); }

/* Border radius */
.border-radius-0 {
  border-radius: 0; }

.border-radius-4 {
  border-radius: 0.4rem; }

.border-radius-8 {
  border-radius: 0.8rem; }

.border-radius-16 {
  border-radius: 1.6rem; }

.border-radius-24 {
  border-radius: 2.4rem; }

.border-radius-32 {
  border-radius: 3.2rem; }

/* Text type */
.text-bold {
  font-weight: 700; }

.text-regular {
  font-weight: 400; }

.text-light {
  font-weight: 300; }

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif; }

.form-group {
  display: grid;
  row-gap: 1.6rem; }
  .form-group label {
    font-size: 1.4rem;
    font-weight: 700;
    color: #464646; }
  .form-group input {
    padding: 1.6rem;
    border: 1px solid #A3A3A3;
    outline: none;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #464646; }
  .form-group .code-content-input {
    display: flex;
    justify-content: space-between; }
    .form-group .code-content-input input {
      max-width: 105px;
      font-size: 1.4rem;
      text-align: center; }

form button {
  font-weight: 700; }

.container-login {
  max-width: 450px;
  margin: 0 auto; }
  .container-login .logo {
    margin: 0 auto;
    padding: 3.2rem;
    display: flex;
    justify-content: center; }
  .container-login .formulario-container {
    display: grid;
    row-gap: 1.6rem; }
    .container-login .formulario-container h3 {
      font-size: 2.4rem;
      font-weight: 400;
      color: #181818; }
    .container-login .formulario-container p {
      font-size: 1.6rem;
      font-weight: 400;
      color: #747474; }
    .container-login .formulario-container form {
      display: grid;
      row-gap: 1.6rem; }
    .container-login .formulario-container .btn-social {
      display: flex;
      align-items: center;
      justify-content: center; }
      .container-login .formulario-container .btn-social img {
        margin-right: 0.8rem; }
    .container-login .formulario-container .icon-ok {
      margin: 0 auto; }
    .container-login .formulario-container .btn-continue {
      display: block;
      text-align: center; }
  .container-login .bottom-text {
    text-align: center;
    display: grid;
    row-gap: 0.8rem; }
    .container-login .bottom-text a, .container-login .bottom-text p {
      text-align: center; }
    .container-login .bottom-text p {
      font-size: 1.4rem;
      font-weight: 400;
      color: #181818; }
    .container-login .bottom-text a {
      font-size: 1.4rem;
      font-weight: 700;
      color: #181818; }

/*# sourceMappingURL=login.css.map */
