@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Variables */
@import 'variables';
/* Reseteo */
@import 'normalize';
/* utilidades */
@import 'colores';
@import 'mixins';
/* Componentes */
@import 'botones';
@import 'clases';


html{
    font-size: 62.5%;
    font-family:'Poppins', sans-serif;
}
.form-group{
    display: grid;
    row-gap: 1.6rem;
    label{
        @include text(1.4rem, 700, $gray-light4);
    }
    input{
        padding: 1.6rem;
        border: 1px solid $gray-light2;
        outline: none;
        border-radius: 0.8rem;
        @include text(1.6rem, 400, $gray-light4);
    }
    .code-content-input{
        input{
            max-width: 105px;
            font-size: 1.4rem;
            text-align: center;
        }
        display: flex;
        justify-content: space-between;
    }
}

form button{
    font-weight: 700;
}
.container-login{
    max-width: 450px;
    margin: 0 auto;
    .logo{
        margin: 0 auto;
        padding: 3.2rem ;
        display: flex;
        justify-content: center;
    }
    .formulario-container{
        display: grid;
        row-gap: 1.6rem;
        h3{
            @include text(2.4rem,400,$gray);
        }
        p{
            @include text(1.6rem,400,$gray-light3);
        }
        form{
            display: grid;
            row-gap: 1.6rem;
        }
        .btn-social{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                margin-right: 0.8rem;
            }
        }
        .icon-ok{
            margin:0 auto;
        }
        .btn-continue{
            display: block;
            text-align: center  ;
        }

        
    }
    .bottom-text{
        text-align: center;
        display: grid;
        row-gap: 0.8rem;
        a,p{
            text-align: center
        }
        p{
            @include text(1.4rem,400,$gray);
        }
        a{
            @include text(1.4rem,700,$gray);
        }
    }
}