//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Variables */
@import 'variables';
/* Reseteo */
/* @import 'normalize'; */
/* utilidades */
/* @import 'colores'; */
@import 'mixins';
/* Componentes */
/* @import 'botones';
@import 'clases'; */

@media only screen and (min-width:860px) {
    /* Menu */
    header{
        .top{
            display: block;
        }
        .middle{
            display: grid;
            //box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        }
        .bottom{
            display: block;
        }   
        .mobile{
            display: none;
            .mobile-top{
                display: grid;
                grid-template-columns: auto 1fr auto;
                justify-content: space-between;
                align-items: center;
                padding: 1.6rem;
            }
            .burger{
                //margin-right: 3.2rem;
                label{
                    cursor: pointer;
                }
            }
            .logo{
                a{
                    text-align: center;
                    display: block
                }
            }
            span{
                @include text(1.4rem,300,$black-0);
            }
            .burger{
                .nav-toggle{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }
            }
            
            .content-icon{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                .icon{
                    height: 100%;
                    padding: 0 2.4rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    &:first-child{
                        padding-left: 0;
                    }
                    &:last-child{
                        padding-right: 0;
                    }
                    &:hover span{
                        border-bottom: 2px solid $primary-01;
                    }
                }
            }

            .mobile-search{
                padding:0.8rem 1.6rem;
            }
        } 
    }

    aside{
        display: none !important;
    }

    /* footer */
    .footer{
        .footer__subscribe{
            grid-template-columns: repeat(2,1fr);
        }
        .footer__rights{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .dropdown,
        .footer__body__item{
        
            justify-self: center;
        }
    }

    /* Slider  */
    .slider-container{
        .slide-title{
            @include text(3.2rem,700,black);
            text-align: initial;
        }
        .slide-paragraph{
            @include text(1.6rem,400,$gray);
        }
        .modelo-texto-img{
            grid-template-columns: 2fr 1fr;
            column-gap: 2.4rem;
            padding: 24px 50px 45px;
            border-radius: 0 0 25px 25px;
            .section-text{
                align-items: initial;
                .slide-paragraph{
                    margin: 2.4rem 0;
                    text-align: initial;  
                }
                .slide-button{
                    @include text(1.4rem, 700, $white);
                }
            }
            
        }
      
        .content-slider-items{
            
            .owl-dots{
                padding: 0 0; 
                top: calc(100% - 40px);
            }
        }
    }

    /* Sugerencia  */
    .suggestion-box-content{
        grid-template-columns: repeat(2,1fr);
        .suggestion-box{
            grid-template-columns: repeat(2,1fr);
        }
    }

    
    .description-adicitional-content{
        .description-items{
            .option-description-content{
                grid-template-columns: repeat(2, 1fr);
                .option-content-text{
                    h3,
                    p{
                        text-align: left;
                    }
                }
            }
        }
    }


    .description-adicitional-content{
        .description-items{
            .option-ranting-container{
                display: grid;
                grid-template-columns: minmax(30%, 420px) 1fr;
                align-items: flex-start;
                .card-container-comments{
                    margin-top: initial;
                }
            }
        }
    }

    /* Listado de productos en el carrito */
    .section-container-card-products{  
        padding: initial; 
        padding-top: 3.2rem;
        .header-card-product{
            h3{
                padding: 0 2.4rem ;
            }
            .head-text-count-cash{
                display: none;
            }
            button{
                display: none;
            }
        }
        .content-cards{
            display: grid;
            grid-template-columns: 60% 1fr;
            column-gap: 4rem;
            padding: 3.2rem 2.4rem;
            .card-product{
                margin: initial;
                padding: initial;
                justify-content: initial;
                .carrito-item{
                    max-width: initial;
                    .img-card{
                        grid-row: 1 / 4;
                        img{
                            max-height: 209px;
                        }
                    }
                    .right-card{
                        grid-column: 3/6;
                        .title-name{
                            display: flex;
                            justify-content: space-between;
                        }   
                    }
                    .icon-trash-heart-content{
                        grid-column: 3 / 5;
                    }
                }
            }
            .card-resumen{
                margin:initial;
            }
        }
    }

    /* Header assesor */
    .header-assesor{
        flex-direction: row;  
    }
    
    .container-hero{
        grid-template-columns: 45% 1fr;
        height: 60vh;
    }

    /* Section about */


    .section-about{
        .header-about{
            h1{
                padding: 2.4rem 0;
                color: $white;
            }
            .about-description{
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                .left-description{
                    p{
                       @include text(2rem, 400, $white);
                       text-align: left;
                       line-height: 3.84rem;
                    }
                }
                .right-description{
                    img{
                       max-width: 480px;
                    }
                }
            }
        }
    }
    .container-history{
        .section--history{
            .svg-about{
                display: flex;
            }
        }
        .history{
            display: none !important;
        }
    } 



    /* Sección dahboard from user access */

    .container-dashboard{
        grid-template-columns: minmax(120px,322px) 1fr;
    }   

    /* Process payment */

.contain-payment-process{

    .container-body-progress{
        
        .page{
            .box-list-cart{
                margin-top: 5.6rem; 
            }

        }
        .page-iniciar-sesion{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 3.2rem;
            .grid-rigth{
                margin-top: initial;
            }
        }
        .page-adress{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 3.2rem;
            .grid-rigth{
                grid-row: initial;
                margin-top: 3rem;
            }
            
        }
        .page-payment{
            display: grid;
            grid-template-columns: 65% 1fr;
            gap: 3.2rem;
        }
        
        .page-success{
            .contain-success{
                figure{
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }
}
}
