@charset "UTF-8";
/* Variables */
/* Colore white*/
/* Color primary */
/* Color Error */
/* Color success */
/* Color black */
/* Constantes */
/* Reseteo */
/* @import 'normalize'; */
/* utilidades */
/* @import 'colores'; */
/* Texto */
/* Boton */
/* Display responsivo */
/* Componentes */
/* @import 'botones';
@import 'clases'; */
@media only screen and (min-width: 860px) {
  /* Menu */
  header .top {
    display: block; }
  header .middle {
    display: grid; }
  header .bottom {
    display: block; }
  header .mobile {
    display: none; }
    header .mobile .mobile-top {
      display: grid;
      grid-template-columns: auto 1fr auto;
      justify-content: space-between;
      align-items: center;
      padding: 1.6rem; }
    header .mobile .burger label {
      cursor: pointer; }
    header .mobile .logo a {
      text-align: center;
      display: block; }
    header .mobile span {
      font-size: 1.4rem;
      font-weight: 300;
      color: #282D31; }
    header .mobile .burger .nav-toggle {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
    header .mobile .content-icon {
      display: grid;
      grid-template-columns: repeat(3, 1fr); }
      header .mobile .content-icon .icon {
        height: 100%;
        padding: 0 2.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer; }
        header .mobile .content-icon .icon:first-child {
          padding-left: 0; }
        header .mobile .content-icon .icon:last-child {
          padding-right: 0; }
        header .mobile .content-icon .icon:hover span {
          border-bottom: 2px solid #FF0946; }
    header .mobile .mobile-search {
      padding: 0.8rem 1.6rem; }

  aside {
    display: none !important; }

  /* footer */
  .footer .footer__subscribe {
    grid-template-columns: repeat(2, 1fr); }
  .footer .footer__rights {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .footer .dropdown,
  .footer .footer__body__item {
    justify-self: center; }

  /* Slider  */
  .slider-container .slide-title {
    font-size: 3.2rem;
    font-weight: 700;
    color: black;
    text-align: initial; }
  .slider-container .slide-paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    color: #181818; }
  .slider-container .modelo-texto-img {
    grid-template-columns: 2fr 1fr;
    column-gap: 2.4rem;
    padding: 24px 50px 45px;
    border-radius: 0 0 25px 25px; }
    .slider-container .modelo-texto-img .section-text {
      align-items: initial; }
      .slider-container .modelo-texto-img .section-text .slide-paragraph {
        margin: 2.4rem 0;
        text-align: initial; }
      .slider-container .modelo-texto-img .section-text .slide-button {
        font-size: 1.4rem;
        font-weight: 700;
        color: #FFF; }
  .slider-container .content-slider-items .owl-dots {
    padding: 0 0;
    top: calc(100% - 40px); }

  /* Sugerencia  */
  .suggestion-box-content {
    grid-template-columns: repeat(2, 1fr); }
    .suggestion-box-content .suggestion-box {
      grid-template-columns: repeat(2, 1fr); }

  .description-adicitional-content .description-items .option-description-content {
    grid-template-columns: repeat(2, 1fr); }
    .description-adicitional-content .description-items .option-description-content .option-content-text h3,
    .description-adicitional-content .description-items .option-description-content .option-content-text p {
      text-align: left; }

  .description-adicitional-content .description-items .option-ranting-container {
    display: grid;
    grid-template-columns: minmax(30%, 420px) 1fr;
    align-items: flex-start; }
    .description-adicitional-content .description-items .option-ranting-container .card-container-comments {
      margin-top: initial; }

  /* Listado de productos en el carrito */
  .section-container-card-products {
    padding: initial;
    padding-top: 3.2rem; }
    .section-container-card-products .header-card-product h3 {
      padding: 0 2.4rem; }
    .section-container-card-products .header-card-product .head-text-count-cash {
      display: none; }
    .section-container-card-products .header-card-product button {
      display: none; }
    .section-container-card-products .content-cards {
      display: grid;
      grid-template-columns: 60% 1fr;
      column-gap: 4rem;
      padding: 3.2rem 2.4rem; }
      .section-container-card-products .content-cards .card-product {
        margin: initial;
        padding: initial;
        justify-content: initial; }
        .section-container-card-products .content-cards .card-product .carrito-item {
          max-width: initial; }
          .section-container-card-products .content-cards .card-product .carrito-item .img-card {
            grid-row: 1 / 4; }
            .section-container-card-products .content-cards .card-product .carrito-item .img-card img {
              max-height: 209px; }
          .section-container-card-products .content-cards .card-product .carrito-item .right-card {
            grid-column: 3/6; }
            .section-container-card-products .content-cards .card-product .carrito-item .right-card .title-name {
              display: flex;
              justify-content: space-between; }
          .section-container-card-products .content-cards .card-product .carrito-item .icon-trash-heart-content {
            grid-column: 3 / 5; }
      .section-container-card-products .content-cards .card-resumen {
        margin: initial; }

  /* Header assesor */
  .header-assesor {
    flex-direction: row; }

  .container-hero {
    grid-template-columns: 45% 1fr;
    height: 60vh; }

  /* Section about */
  .section-about .header-about h1 {
    padding: 2.4rem 0;
    color: #FFF; }
  .section-about .header-about .about-description {
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }
    .section-about .header-about .about-description .left-description p {
      font-size: 2rem;
      font-weight: 400;
      color: #FFF;
      text-align: left;
      line-height: 3.84rem; }
    .section-about .header-about .about-description .right-description img {
      max-width: 480px; }

  .container-history .section--history .svg-about {
    display: flex; }
  .container-history .history {
    display: none !important; }

  /* Sección dahboard from user access */
  .container-dashboard {
    grid-template-columns: minmax(120px, 322px) 1fr; }

  /* Process payment */
  .contain-payment-process .container-body-progress .page .box-list-cart {
    margin-top: 5.6rem; }
  .contain-payment-process .container-body-progress .page-iniciar-sesion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem; }
    .contain-payment-process .container-body-progress .page-iniciar-sesion .grid-rigth {
      margin-top: initial; }
  .contain-payment-process .container-body-progress .page-adress {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem; }
    .contain-payment-process .container-body-progress .page-adress .grid-rigth {
      grid-row: initial;
      margin-top: 3rem; }
  .contain-payment-process .container-body-progress .page-payment {
    display: grid;
    grid-template-columns: 65% 1fr;
    gap: 3.2rem; }
  .contain-payment-process .container-body-progress .page-success .contain-success figure {
    width: 120px;
    height: 120px; } }

/*# sourceMappingURL=min-width-860.css.map */
