@charset "UTF-8";
/* Colore white*/
/* Color primary */
/* Color Error */
/* Color success */
/* Color black */
/* Constantes */
/* Texto */
/* Boton */
/* Display responsivo */
@media only screen and (min-width: 1100px) {
  /* Seccion trabaja con nosotros */
  /* Trabaja con nosotros asesores y proveedores */
  .definition-provider .information-content .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.2rem;
    align-items: center; }
    .definition-provider .information-content .info img {
      display: block;
      margin: 0 auto;
      width: 60%; }

  .testimonial-questions .any-questions .any-questions-info {
    grid-template-columns: repeat(2, 1fr); }
    .testimonial-questions .any-questions .any-questions-info .container-btn {
      align-self: center;
      justify-self: flex-end; }

  /* Slider  */
  .slider-container .slide-title {
    font-size: 4rem !important; }
  .slider-container .slide-paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    color: #181818; }
  .slider-container .modelo-texto-img {
    padding: 78px 120px 90px !important;
    border-radius: 0 0 50px 50px; }
    .slider-container .modelo-texto-img .section-text {
      align-items: initial; }
      .slider-container .modelo-texto-img .section-text .slide-paragraph {
        margin: 2.4rem 0; }
      .slider-container .modelo-texto-img .section-text .slide-button {
        font-size: 2rem;
        font-weight: 700;
        color: #FFF; }
    .slider-container .modelo-texto-img .section-img {
      width: initial; }
  .slider-container .content-slider-items {
    position: relative; }
    .slider-container .content-slider-items .owl-dots {
      padding: 2.4rem 0 !important;
      width: 100%;
      position: absolute;
      top: calc(100% - 88px) !important; }

  /* Info product */
  .product .product__content {
    display: grid;
    grid-template-columns: 65% 1fr;
    align-items: flex-start; }

  /* Listado de productos - filtro */
  .container-filter-products {
    padding: 1.6rem;
    display: grid;
    grid-template-columns: minmax(270px, 322px) 1fr;
    gap: 1.6rem; }
    .container-filter-products .filter-product-content {
      display: block;
      position: relative;
      z-index: initial;
      /* .title-filter{
          padding: 1.6rem 0.8rem;
          h3{
              @include text(1.8rem, 700, $gray);
          }
      } */
            /* .box-dropdown{
               .open-option:checked ~ .option{
                   display: block;
               }
                .label-first{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0.8rem ;
                    width: 100%;
                    @include text(1.6rem, 400, $gray);
                }
                .option{
                    padding: 0.8rem;
                    display: none;
                    .input-search{
                        width: 100%;
                        padding: 0.8rem;
                        outline: none;
                        @include text(1.6rem,400, $gray);
                    }
                    .item-input-content{
                        display: flex;
                        align-items: center;

                        label{
                            @include text(1.4rem,400,$gray);
                            padding: 0.8rem ;
                            width: 100%;
                        }
                        input[type="checkbox"]{
                            appearance: none;
                            width: 20px;
                            height: 20px;
                            outline: none;
                            cursor: pointer;
                            position: relative;
                            border-radius: 0.2rem;
                            border: 1px solid $gray;
                            &::after{
                                content: "";
                                position: absolute;
                                width: 10px;
                                height: 10px;
                                background-image: url('../img/producto/Vector_checkbox.svg');
                                background-repeat: no-repeat;
                                background-position:center;
                                background-size: cover;
                                margin: auto;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                            }
                            &:hover{
                                background-color: $main;
                                border: none;
                            }
                            &:checked{
                                background-color: $main;
                                border: none;
                            }
                        }
                        input[type="radio"]{
                            width: 20px;
                            height: 20px;
                            border: 1px solid $gray;
                            outline: none;
                            appearance: none;
                            border-radius: 50%;
                            position: relative;
                            &:hover{
                                background-color: $main;
                                border: none;
                            }
                            &:checked{
                                background-color: $main;
                                border: none;

                            }
                            &::after{
                                content: "";
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                width: 10px;
                                height: 10px;
                                background-color: $white;
                                border-radius: 50%;
                                transform: translate(-45%, -50%);
                            }
                        }
                        
                    }
                }
            } */ }
      .container-filter-products .filter-product-content .filtro-contenedor-dropdown {
        height: initial; }
      .container-filter-products .filter-product-content .filter_content_button {
        position: initial; }
    .container-filter-products .list-product-content .header-product-container {
      display: flex;
      justify-content: space-between;
      padding: 1.6rem 0; }
      .container-filter-products .list-product-content .header-product-container .btn-filter {
        display: none; }
    .container-filter-products .list-product-content .rigth-content-products .cards-content-products {
      justify-content: space-between;
      padding: initial; }

  /* Section about */
  .section-about .header-about {
    background-image: url("../img/about/back-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%; }

  .container-modal .container-options .body-options {
    grid-template-columns: repeat(3, 1fr); }

  /* Sección dahboard from user access */
  .container-dashboard .dashboard-profile .body-profile {
    grid-template-columns: 65% 1fr; }
  .container-dashboard .dashboard-profile .body-address {
    grid-template-columns: repeat(2, 1fr); } }

/*# sourceMappingURL=min-width-1100.css.map */
