/* Variables */
/* @import 'variables'; */
/* Reseteo */
/* @import 'normalize'; */
/* utilidades */
/* @import 'colores';
@import 'mixins'; */
/* Componentes */
/* @import 'botones';
@import 'clases'; */
@media only screen and (min-width: 580px) {
  /* Footer with dropdown */
  .footer .dropdown .footer-title {
    position: initial; }
    .footer .dropdown .footer-title img {
      display: none; }
  .footer .dropdown .title--bold {
    width: 100%;
    cursor: pointer; }
  .footer .dropdown .dropdown__link {
    display: flex; }

  /* Productos home */
  .content-title-product {
    flex-direction: row; }

  /* .container-more-seller-products{
  } */
  /* Info producto */
  .product .product__header {
    display: grid;
    grid-template-columns: 65% 1fr;
    gap: 1.6rem; }
  .product .product__content .product__slider {
    padding: 1.6rem;
    grid-template-columns: 10% 1fr; }
    .product .product__content .product__slider .slider__img--full {
      grid-column: 2 / 3;
      height: 100%; }
    .product .product__content .product__slider .slider__img--small {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      flex-direction: column;
      justify-content: flex-start;
      padding: initial; }

  .container-filter-products .list-product-content .cards-content-products {
    justify-content: space-between; }

  /* about */
  .container-mision .container-iformation .information-slider .objective {
    grid-template-columns: repeat(2, 1fr); } }

/*# sourceMappingURL=min-width-580.css.map */
